div.center {
    margin-top: 30px;

    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    text-align: center;
    border: 5px solid aqua;
    color: white;
}

h1.center {
    margin-top: 100px;
    color: white;
    text-align: center;
}