{% extends "master_acc.html" %}
{% load i18n %}
{% block title %}
    Edit Concert
{% endblock %}


{% block more_content %}
    <style>
        .form-edit-concert {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        p {
            font-weight: bold;
        }

        input, select, textarea {
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            border: 1px solid #ccc;
             width: 80%;
            align-self: center;
        }
    </style>
    {% if err %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert"
             style="margin-left: 10%;margin-right: 10%;">
          <strong>{{ err }}</strong> {%  trans "Please Try Again" %}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
   <h1 style="text-align: center">{%  trans "Edit Concert" %}</h1>
    <div class="card  mx-auto " style="width: 40rem; color: #1b1b1b; text-align:center ">

    <div class="card-body">


    <form action="/account/editconcert/{{ concert.concert_id }}" method="POST">
        {% csrf_token %}
        <div class="form-edit-concert">
            <label for="venueID">{%  trans "Venue ID" %}:</label>
             <select id="venueID" name="venueID" required value="{{ concert.venue_id }}">
                 {% for x in venue %}

                    <option {% if concert.venue_id == x.venue_id %} selected="selected" {% endif %} value={{ x.venue_id }}><p><Strong>{%  trans "ID" %}: {{ x.venue_id }}</Strong> <strong>{{ x.name }}</strong> -
                            <strong>{%  trans "Capacity" %}:</strong> {{ x.total_seats }} -
                            <strong>{%  trans "Types" %}:</strong>
                            {% for pri in x.seat_types %}
                                ({{ pri.type }}-{{ pri.seats }})
                            {% endfor %}
                        </p></option>
                 {% endfor %} </select><br>
        </div>

        <input type="hidden" id="concertID" name="concertID" value="{{ concert.concert_id }}" required>

        <div class="form-edit-concert">
            <label for="concert_name">Concert Name:</label>
            <input type="text" id="concert_name" name="concert_name" value="{{ concert.concert_name }}" required>
        </div>
        <div class="form-edit-concert">
            <label for="artist_name">Artist Name:</label>
            <input type="text" id="artist_name" name="artist_name" value="{{ concert.artist_name|join:"," }}" required>
        </div>
        <div class="form-edit-concert">
            <label for="artist_image">Image:</label>
            <input type="text" id="artist_image" name="artist_image" value="{{ concert.image }}" required>
        </div>
        <div class="form-edit-concert">
            <label for="artist_genre">Genre:</label>
            <input type="text" id="artist_genre" name="artist_genre" value="{{ concert.genre|join:"," }}" required>
        </div>
        <div class="form-edit-concert">
            <label for="concert_date_time">Date:</label>
            <input type="datetime-local" id="concert_date_time" name="concert_date_time"
                   value="{{ concert.date_time }}" required>
        </div>
        <div class="form-edit-concert">
            <label for="concert_door_open">Doors Open:</label>
            <input type="time" id="concert_door_open" name="concert_door_open" value="{{ concert.doors_open }}" required>
        </div>

        <div class="form-edit-concert">
            <label for="venue_seat_price">Seat-Price(CAD)-Number of seats:</label>
            <textarea id="venue_seat_price" name="venue_seat_price"> {% for pri in concert.seats %}{{ pri.type }}-{{ pri.price }}-{{ pri.total }}&#10;{% endfor %}</textarea>
        </div>
        <div class="form-edit-concert">
            <input type="submit" value="Update Concert">
        </div>
    </form>  </div></div>
{% endblock %}