{% extends "master.html" %}
{% load i18n %}
{% load static %}

{% block content %}

   <link rel="stylesheet" href="{% static 'concerts.css' %}">
    <!-- SEARCH
    <div class="center d-flex aligns-items-center justify-content-center">
        <form class="d-flex w-75 p-3" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Artist or Venue Name" aria-label="Search" name="searched">
            <div class="btn-group">
                <button class="btn btn-outline-success" type="submit" name="search_type" value="concert">{%  trans "Search Concerts" %}</button>
                <button class="btn btn-outline-success" type="submit" name="search_type" value="venue">{%  trans "Search Venues" %}</button>
            </div>
        </form>
    </div>
    -->
    <!-- VENUE INFO MAIN -->
    <div class="row container-fluid">
    <!-- CAROUSEL -->
        <div id="car" class="carousel slide col" data-ride="carousel" style="height: max-content">
            <div class="carousel-inner" style=" height: 0; padding-bottom: 50%; ">

                <div class="carousel-item active" style="position: absolute !important; top: 0; right: 0; bottom: 0; left: 0; ">
                <img class="d-block w-100 h-auto" src="{{ venue.image}}" alt="Second slide">
                </div>
            </div>
        </div>

    <!-- VENUE CARD -->
        <div class="card col" style="width: 50rem">
            <h1>{{ venue.name }}</h1>

            <div class="card-body">
            <h3>{%  trans "Location" %}:</h3>
            <h3>{{ venue.city }}, {{ venue.province }}, {{ venue.country }}</h3>
            <h3>{%  trans "Address" %}:</h3>
            <h3>{{ venue.street_address }}, {{ venue.postal_code }}</h3>
            <h3>{%  trans "Email" %}: {{ venue.email }}</h3>
            <h3>{%  trans "Phone number" %}: {{ venue.phone_number }}</h3>
            <h3>{%  trans "Total number of seats" %}: {{ venue.total_seats }}</h3>
            </div>
        </div>
    </div>
    <!-- CONCERT TABLE -->
    <div class="table-responsive container">
        <table class="table table-hover" style="border-color: aqua;">
            <tbody>
            {% for concert in concerts %}
                {% if forloop.first %}
                    <br><h1 class='concerts-page'>Concerts at this location:</h1><br>
                {% endif %}
                <tr>
                    <td>
                        <image src="{{ concert.image }}" class="concert-image"></image>
                    </td>
                    <td align="left">{{ concert.concert_name }}</td>
                    <td align="right">{{ concert.artist_name|join:"," }}</td>
                    <td align="right">{{ concert.date_time}}</td>
                    <td align="right">
                        <button class="btn" onclick="window.location.href='/concert/{{ concert.concert_id }}'">{%  trans "See Tickets" %}</button>
                    </td>
                </tr>
                {% empty %}
                <br><h2 class='concerts-page'> Sadly, there are no concerts planned at this location yet.</h2>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
