{% extends 'master.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {%  trans "Resetting Password" %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'forgot_password.css' %}">
    <script src="https://kit.fontawesome.com/896d23d334.js" crossorigin="anonymous"></script>
    <script src="{% static 'sign_up.js' %}"></script>
    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert"
             style="margin-left: 10%;margin-right: 10%;">
            <strong>{{ error }}</strong> {%  trans "Please Try Again" %}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <h1 class="center">{%  trans "Reset Password" %}</h1>
    <div class="center">
        <form action="/forgotpassword/" method="POST">
            {% csrf_token %}

            <label for="forgot_username">{%  trans "Username" %}:</label>
            <input type="text" id="forgot_username" name="forgot_username" required><br>

            <label for="forgot_user_email">{%  trans "Email" %}:</label>
            <input type="email" id="forgot_user_email" name="forgot_user_email" required><br>

            <label for="user_password">{%  trans "New Password" %}:</label>
            <div class="password-wrapper">
                <input type="password" id="user_password" name="user_password" required>
                <button type="button" class="show-password-btn" aria-label="Toggle password visibility"
                        onclick="togglePassword()">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
            </div>
            <br>

            <label for="user_confirm_password">{%  trans "Confirm Password" %}:</label>
            <div class="password-wrapper">
                <input type="password" id="user_confirm_password" name="user_confirm_password" required>
                <button type="button" class="show-c-password-btn" aria-label="Toggle password visibility"
                        onclick="togglePassword()">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
            </div>
            <br>
            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}